.landing-page {
  background-color: #f5f7fa;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  color: #333;
}

.start-button {
  font-weight: bolder;
  font-size: 16px;
  background-color: #ff6f61;
  color: white;
  padding: 10px 20px;
  transition: background-color 0.3s;
}

.start-button:hover {
  background-color: #ff4f41;
}

.screenshots {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.screenshot-image {
  border: 3px solid #444;
  border-radius: 15px;
  transition: transform 0.3s, box-shadow 0.3s;
  animation: fadeInUp 1s ease-in-out;
}

.screenshot-image:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.about {
  background-color: #6e63f4;
  padding: 50px 20px;
  border-radius: 8px;
  color: white;
  animation: fadeInUp 1s ease-in-out;
}

.manage-reports {
  background-color: #42a5f5;
  padding: 50px 20px;
  border-radius: 8px;
  color: white;
  animation: fadeInUp 1.5s ease-in-out;
}

.youtube-video {
  background-color: #5c6bc0;
  padding: 50px 20px;
  border-radius: 8px;
  color: white;
  margin-bottom: 50px;
  animation: fadeInUp 2s ease-in-out;
}

.made-with-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.made-with-title {
  font-weight: bolder;
  font-size: 24px;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@media (max-width: 768px) {
  .about-content {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .about-title {
    font-size: 1.5rem;
    text-align: center;
  }

  .about-description {
    text-align: center;
    font-size: 1rem;
  }

  .about-image {
    max-height: 250px;
  }

  .screenshot-image {
    width: 80%;
  }

  .heading {
    font-size: 2rem;
  }

  .made-with-content {
    flex-direction: column;
    gap: 15px;
  }

  .made-with-content img {
    width: 15%;
  }
}
